
$primary: rgb(72, 187, 120);
$info: rgb(183, 143, 1);

.btn-primary {
    background-color: $primary;
    border-color: $primary;
    color: white
}

.input {
    border-radius: 0.25rem;
}




@import "../node_modules/bootstrap/scss/bootstrap";
