.tslist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tslist > * {
  margin: 2px;
}

.badge {
  cursor: pointer;
  font-size: small;
}

.badgeActive {
  background-color: #007bff;
  font-weight: bold;
}

.badgeInactive, .badgeDisabled {
  background-color: #e2e8f0;
  color: black;
  font-weight: normal;
}

.badgeDisabled {
  pointer-events: none; 
  opacity: 0.6; 
}

.scrollView {
  overflow-y: auto;
  max-height: 300px;
}
