[submodule "protocol"]
	path = protocol
	url = aura-development@vs-ssh.visualstudio.com:v3/aura-development/Aura/protocol
[submodule "public/protocol"]
	path = public/protocol
	url = aura-development@vs-ssh.visualstudio.com:v3/aura-development/Aura/protocol
