.EditLabelingModal {
}

.clear::-ms-clear {
  display: none;
}

.tooltip > .tooltip-inner {
  font-size: 13px;
}

.no-border-radius {
  border-radius: 0 !important;
}

.edit-labeling-body .alert-danger {
  color: red;
  background-color: transparent;
  border: none;
  position: relative;
}
