.TimeSeriesCollectionPanel {
}

.timeInputGroupText {
  width: 70px;
}

.user-info-select-timeSeries {
  display: flex;
  justify-content: center;
  height: 66vh;
  align-items: center;
  font-weight: bold;
  font-size: larger;
}
