.TimeSeriesCollectionPanel {
  margin-top: 80px;
  margin-bottom: 80px;
}

.timeInputGroupText {
  width: 70px;
}

.user-info-select-timeSeries {
  display: flex;
  justify-content: center;
  height: 66vh;
  align-items: center;
  font-weight: bold;
  font-size: larger;
}

.navigator {
  position: fixed;
  width: 90vw;
  z-index: 100;
  opacity: 0.85;
  margin-top: -5px;
}
