@media (min-width: 992px) {
  .LabelingPanel {
    bottom: 15px;
    width: calc(0.75 * 100vw - 147px);
    z-index: 10;
    position: fixed;
  }
}

@media (max-width: 992px) {
  .LabelingPanel {
    bottom: 15px;
    width: calc(100% - 184px);
    z-index: 10;
    position: fixed;
    left: 171px;
  }
}

.LabelingPanel > .informationBox {
  float: left;
  padding: 0px;
  margin: 0px;
}

.informationBox > .inputGroup {
  padding: 0px;
  margin: 0px;
  width: 160px;
  float: left;
}

.informationBox > .deleteButton {
  float: left;
}

.informationBox > .playButton {
  float: left;
}

.LabelingPanel > .labelingBox {
  float: right;
}

.labelingBox > .labelingButton {
  float: right;
}
