.LabelingPanel {
  position: fixed;
  bottom: 15px;
  left: 15px;
  height: 70px;
  width: calc(75% - 15px);
}

.input {
  float: left;
  padding: 0px;
  margin: 0px;
}

.timeInputGroupText {
  width: 40px !important;
}

.timeInput {
  width: 80px !important;
}

.deleteButton {
  float: left;
}

.labelingBox {
  float: right;
}
