

.table-header-wrapper {
    border-radius: 10px;
    align-items: center;
    /* border: 10px solid gray; */
    justify-content: space-between !important;
    background: rgb(249, 251, 252);
    border: 2px solid rgb(230, 230, 234);
    border-radius: 10px 10px 0px 0px;
    border-width: 2px 2px 0px 2px;
    padding: 8px;
}

.table-body-wrapper {
    border: 2px solid rgb(230, 230, 234);
    border-radius: 0px 0px 10px 10px;
    border-width: 2px 2px 2px 2px;
    overflow: hidden;
}