.LabelingSelectionPanel {
  width: 100%;
  position: sticky;
  top: 15px;
  z-index: 10;
}

/* mobile (md-breakpoint), account for 50px header with sticky */
@media (max-width: 768px) {
  .LabelingSelectionPanel {
    /* top: 65px; */
    position: relative;
    top: unset;
  }
}

.LabelingSelectionButtonsContainer {
  float: left;
}
