.TimeSeriesPanel {
}

.selected {
  opacity: 0.4;
}

.deselected {
  opacity: 0.2;
}

.plotline {
  cursor: col-resize;
}

.dropdownWrapper {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 5;
}

.dropdownBtn {
  background-color: #f2f2f2;
  padding: 0 10px 1px 10px;
  border-radius: 15%;
  border: none;
}

.dropdown {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0px 8px 8px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 1rem;
}

.table {
  table-layout: fixed;
}

.table tr:first-child td {
  vertical-align: middle;
  text-align: center;
  padding: 0 0.5em 0.2em 0.5em;
  width: 80px;
}

.table tr:last-child td {
  vertical-align: middle;
  text-align: center;
  padding: 0.2em 0.5em 0 0.5em;
  width: 80px;
}

.table tr td:first-child {
  width: 100px;
}

.table tr td:last-child {
  width: 90px;
}
