.dataset-side-panel-close-button {
  display: flex;
  justify-content: end;
}

.cursor-pointer {
  cursor: pointer;
}

.dataset-side-panel {
  background: linear-gradient(rgb(26, 32, 44), rgb(45, 55, 72));
  padding: 8px;
  height: 100vh;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 33vw;
  z-index: 1000;
  background-color: white;
  position: fixed;
}

.dataset-side-panel.open {
  transform: translateX(-36.5vw);
}

.dataset-side-panel-close-button {
  display: flex;
  justify-content: end;
  color: black;
}
