.EditUserModal {
}

.clear::-ms-clear {
  display: none;
}

.inputChecked {
  color: #495057;
  background-color: #e9ecef;
  pointer-events: none;
}

.inputNotChecked {
  color: grey;
  background-color: #e9ecef;
  pointer-events: none;
}
