.login{
	text-align: center;
	background-color: #eee;
	border-radius: 25px;
	padding: 30px;
	margin: auto;
	margin-top: 10%;
	width: 40%;
	height: 40%;
}

.input-group{
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 0px;
}

.input-group-text {
	width: 40px;
}

button {
	margin-top: 10px;
}

.octicon-trashcan{
	transition: fill 0.3s ease-in-out;
}

a .octicon-trashcan:hover{
	fill: red;
	transition: fill 0.3s ease-in-out;
}

.dataset-plot {
	height: 100%;
}

.datasetPlotBand {
	opacity: 0.8;
	fill-opacity: 0.3;
	stroke-dasharray: 50;
	stroke-width: 3px;
	animation: dash 2.5s linear forwards;
	animation-iteration-count: infinite;

}

@keyframes dash {
	to {
		stroke-dashoffset: 100;
	}
}

.loader{
	display: block;
	margin: 0 auto;
	border-color: red;
}

.svg-white {
	fill: white;
}
