.login{
	text-align: center;
	background-color: #eee;
	border-radius: 25px;
	padding: 30px;
	margin: auto;
	margin-top: 10%;
	width: 40%;
	height: 40%;
}

.input-group{
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 0px;
}

.input-group-text {
	width: 40px;
}

button {
	margin-top: 10px;
}

.octicon-trashcan{
	transition: fill 0.15s ease-in-out;
}

a .octicon-trashcan:hover{
	fill: red;
	transition: fill 0.15s ease-in-out;
}

.dataset-plot {
	height: 100%;
}

.dataset-plotband {
	z-index: 9;
	opacity: 0.8;
	fill-opacity: 0.3;
	cursor: pointer;
	transition: fill 0.15s, opacity 0.15s;
}

.dataset-plotband-selected {
	z-index: 10;
	opacity: 0.8;
	fill-opacity: 0.4;
	cursor: pointer;
	transition: fill 0.15s, opacity 0.15s;
}

@keyframes dash {
	to {
		stroke-dashoffset: 100;
	}
}

.loader{
	display: block;
	margin: 0 auto;
	border-color: red;
}

.svg-white {
	fill: white;
}

.svg-red {
	fill: red;
}

.button-toolbar {
	outline: none;
}

.button-toolbar-delete:hover:enabled .svg-red {
	fill: white;
}

.button-invisible {
	opacity: 0;
}

.highcharts-credits {
	display: none;
}

.dataset-tooblar-button-selected{
	text-decoration: blink;
}

.dataset-tooblar-button{

}

.btn:focus, .btn:active:focus, .btn.active:focus {
	box-shadow: none;
}

button {
	box-shadow: none;
}

.dataset-plotline {
	z-index: 9;
	transition: stroke 0.15s, opacity 0.15s, stroke-width 0.15s;
	cursor: ew-resize;
	opacity: 0.5;
}

.dataset-plotline-selected {
	z-index: 10;
	transition: stroke 0.15s, opacity 0.15s, stroke-width 0.15s;
	cursor: ew-resize;
	opacity: 1.0;
	stroke-width: 3px;
}

.list-buttongroup {
	height: 22px;
}

.list-buttongroup button {
	margin-top: -7px;
	margin-bottom: -7px;
}

.list-tooltip {
	opacity: 0.5;
}

.tooltip-inner {
	font-size: 12px;
}
